body {
	border: 0px solid purple;
	margin: auto;
	background: url(http://images5.alphacoders.com/314/314903.jpg);
}

header {
	margin: 5px auto;
	height: 125px;
	width: 750px;
	border: 0px solid red;
	text-align: center;
	justify-content: center;
	font-size: 100px;
	color: white;
	background: url(https://i.imgur.com/14fhMVB.png) no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: And Then Some;
	/*text-shadow: 1px 1px 1px #000;*/
}

#top {
	margin: 10px auto;
	height: 125px;
	width: auto;
	border: 0px solid blue;
	display: flex;
	justify-content: space-between;
}

.p1ScoreBox {
	border: 0px solid blue;
	border-radius: 5px;
	height: 125px;
	width: 125px;
	margin: 0px 100px;
	text-align: center;
	background: url(https://i.imgur.com/2FiFXwY.png) no-repeat center center;
	/*background: url(https://i.imgur.com/bFx2sf9.png) no-repeat;*/
	background-size: 150px;
}

#p1Row {
	color: white;
	border: 0px solid white;
	font-family: Bleeding Cowboys;
	font-size: 22px;
}

#playerScore {
	border: 0px solid black;
	font-size: 80px;
	color: #e53c3f;
	font-family: Bleeding Cowboys;
	justify-content: center;
	width: 125px;
	background: url(https://i.imgur.com/QojLDtj.png) no-repeat center center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.winnerTicker {
	margin: 25px auto;
	border: 0px solid blue;
	height: 100px;
	width: 500px;
	text-align: center;
	font-family: Bleeding Cowboys;
	color: #610B0B;
	background: url(https://i.imgur.com/3rWkbZM.png) no-repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/*text-shadow: 2px 2px 1px white;*/
	font-size: 35px;
	padding-top: 10px;
}

.compScoreBox {
	border: 0px solid blue;
	border-radius: 5px;
	height: 125px;
	width: 125px;
	margin: 0px 100px;
	text-align: center;
	background: url(https://i.imgur.com/wYpwTug.png) no-repeat center center;
	/*background: url(https://i.imgur.com/CukhhkA.png) no-repeat;*/
	background-size: 150px;
}

#compRow {
	color: white;
	border: 0px solid white;
	font-family: Bleeding Cowboys;
	font-size: 22px;
}

#compScore {
	border: 0px solid black;
	font-size: 80px;
	color: #4c78e8;
	font-family: Bleeding Cowboys;
	justify-content: center;
	width: 125px;
	background: url(https://i.imgur.com/WzQAAV9.jpg) no-repeat center center;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#board {
	margin: 20px 20px;
	height: 275px;
	width: auto;
	border: 0px solid green;
	display: flex;
	justify-content: space-between;
}

#board div {
	display: inline-block;
}

/**
#board div:first-child {
	border: 1px solid green;
	width: 85px;
	height: 250px;
	font-size: 20px;
	color: gray;
	text-align: center;
}
*/
.player1 img {
	border: 0px solid green;
	border-radius: 15px;
	width: 200px;
	height: 275px;
	text-align: center;
}
/*background: url(https://s-media-cache-ak0.pinimg.com/236x/58/17/85/581785ed38d3e41c25a22163c845abec.jpg) no-repeat;
  background-position: center;*/

.comp1 img {
	border: 0px solid green;
	border-radius: 15px;
	width: 200px;
	height: 275px;
	text-align: center;
}
/*	background: url(https://s-media-cache-ak0.pinimg.com/236x/f8/60/22/f86022bc63eb9eca83eba7465646bff9.jpg) no-repeat;
	background-position: center;*/
/*
#board div:nth-child(4) {
	border: 1px solid green;
	width: 85px;
	height: 250px;
	font-size: 20px;
	color: gray;
	text-align: center;
}
*/
#buttons {
	margin: 5px 150px;
	height: 100px;
	width: auto;
	border: 0px solid orange;
	font-family: futura;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
}

#buttons div {
	display: inline-block;
	border: 0px solid #585858;
	width: 275px;
	height: 50px;
	text-align: center;
	padding: 15px 0px 10px;
}

.b1 {
	background: url(https://i.imgur.com/E1k3VWU.png) no-repeat center center;
	/*background: url(https://i.imgur.com/zat4pOo.png);*/
	/*background-position: center;*/
	justify-content: center;
	margin: -15px auto;
	font-family: Bleeding Cowboys;
	color: #c6c7c9;
	/*-webkit-text-stroke: 1px black;*/
	text-shadow: 5px 5px 2px #000;
	font-size: 35px;
	border-radius: 10px;
	box-shadow: 3px 3px 5px 1px #848484;
	width: 275px;
	height: 75px;
}

/*.b1 {
	background: url(https://i.imgur.com/zat4pOo.png);
	background-position: center;
	border-radius: 10px;
	box-shadow: 3px 3px 5px 1px #848484;
	font-size: 25px;
	font-family: Copperplate;
	color: white;
	text-shadow: 1px 1px 1px #000; 
}*/

.b2 {
	background: url(https://i.imgur.com/E1k3VWU.png) no-repeat center center;
	/*background: url(https://i.imgur.com/oG7DjjC.png);
	background-position: center;*/
	justify-content: center;
	margin: -15px auto;
	font-family: Bleeding Cowboys;
	color: #c6c7c9;
	/*-webkit-text-stroke: 1px black;*/
	text-shadow: 5px 5px 2px #000;
	font-size: 35px;
	border-radius: 10px;
	box-shadow: 3px 3px 5px 1px #848484;
	width: 275px;
	height: 75px;
}
