body {
	border: 2px solid purple;
	margin: auto;
	background: url(http://images5.alphacoders.com/314/314903.jpg);
}

header {
	margin: 5px auto;
	height: 125px;
	width: 500px;
	border: 1px solid red;
	text-align: center;
	background: url(https://i.imgur.com/5ytVqvY.png);
	background-repeat: center;
	background-size: contain;
}

#top {
	margin: 10px auto;
	height: 125px;
	width: auto;
	border: 1px solid blue;
	display: flex;
	justify-content: space-between;
}

.p1Score {
	border: 2px solid blue;
	height: 125px;
	width: 125px;
	margin: 0px 100px;
	text-align: center;
}

.winnerTicker {
	margin: 50px auto;
	border: 2px solid blue;
	height: 50px;
	width: 200px;
	text-align: center;
}

.compScore {
	border: 2px solid blue;
	height: 125px;
	width: 125px;
	margin: 0px 100px;
	text-align: center;
}

#board {
	margin: 20px 20px;
	height: 300px;
	width: auto;
	border: 1px solid green;
	display: flex;
	justify-content: space-between;
}

#board div {
	display: inline-block;
}

#board div:first-child {
	border: 1px solid green;
	width: 85px;
	height: 250px;
	font-size: 20px;
	color: gray;
	text-align: center;
}

.player1 {
	border: 2px solid green;
	width: 200px;
	height: 300px;
	text-align: center;
}

.comp1 {
	border: 2px solid green;
	width: 200px;
	height: 300px;
	text-align: center;
}

#board div:nth-child(4) {
	border: 1px solid green;
	width: 85px;
	height: 250px;
	font-size: 20px;
	color: gray;
	text-align: center;
}

#buttons {
	margin: 5px 150px;
	height: 125px;
	width: auto;
	border: 1px solid orange;
	font-family: futura;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
}

#buttons div {
	display: inline-block;
	border: 1px solid gray;
	width: 150px;
	height: 30px;
	text-align: center;
	padding: 15px 0px 10px;
}

