body {
	border: 2px solid purple;
	margin: auto;
}

header {
	margin: 5px auto;
	height: 125px;
	width: auto;
	border: 1px solid red;
}

#top {
	margin: 10px auto;
	height: 125px;
	width: auto;
	border: 1px solid blue;
}

#board {
	margin: 20px 20px;
	height: 300px;
	width: auto;
	border: 1px solid green;
	display: flex;
	justify-content: space-between;
}

#board div {
	display: inline-block;
}

#board div:first-child {
	border: 1px solid green;
	width: 85px;
	height: 250px;
	font-size: 20px;
	color: gray;
	text-align: center;
}

.player1 {
	border: 2px solid green;
	width: 200px;
	height: 300px;
}

.comp1 {
	border: 2px solid green;
	width: 200px;
	height: 300px;
}

#board div:nth-child(4) {
	border: 1px solid green;
	width: 85px;
	height: 250px;
	font-size: 20px;
	color: gray;
	text-align: center;
}

#buttons {
	margin: 5px 150px;
	height: 125px;
	width: auto;
	border: 1px solid orange;
	font-family: futura;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
}

#buttons div {
	display: inline-block;
	border: 1px solid gray;
	width: 150px;
	height: 30px;
	text-align: center;
	padding: 15px 0px 10px;
}

