body {
	border: 2px solid purple;
	margin: auto;
	background: url(http://images5.alphacoders.com/314/314903.jpg);
}

header {
	margin: 5px auto;
	height: 125px;
	width: 750px;
	border: 1px solid red;
	text-align: center;
	justify-content: center;
	font-size: 100px;
	color: white;
	font-family: Copperplate;
	text-shadow: 1px 1px 1px #000;
}

#top {
	margin: 10px auto;
	height: 125px;
	width: auto;
	border: 1px solid blue;
	display: flex;
	justify-content: space-between;
}

.p1ScoreBox {
	border: 2px solid blue;
	height: 125px;
	width: 125px;
	margin: 0px 100px;
	text-align: center;
	background: url(https://i.imgur.com/bFx2sf9.png) no-repeat;
	background-size: 150px;
}

#p1Row {
	color: white;
	background-color: black;
	border: 2px solid white;
	font-family: Papyrus;
	font-size: 18px;
	opacity: 0.65;
}

#p1Score {
	border: 1px solid black;
	font-size: 75px;
	color: white;
	justify-content: center;
	width: 125px;
}

.winnerTicker {
	margin: 50px auto;
	border: 2px solid blue;
	height: 50px;
	width: 200px;
	text-align: center;
}

.compScoreBox {
	border: 2px solid blue;
	height: 125px;
	width: 125px;
	margin: 0px 100px;
	text-align: center;
	background: url(https://i.imgur.com/CukhhkA.png) no-repeat;
	background-size: 150px;
}

#compRow {
	color: white;
	background-color: black;
	border: 2px solid white;
	font-family: Papyrus;
	font-size: 18px;
	opacity: 0.65;
}

#compScore {
	border: 1px solid black;
	font-size: 75px;
	color: white;
	justify-content: center;
	width: 125px;
}

#board {
	margin: 20px 20px;
	height: 300px;
	width: auto;
	border: 1px solid green;
	display: flex;
	justify-content: space-between;
}

#board div {
	display: inline-block;
}

/**
#board div:first-child {
	border: 1px solid green;
	width: 85px;
	height: 250px;
	font-size: 20px;
	color: gray;
	text-align: center;
}
*/
.player1 {
	border: 2px solid green;
	border-radius: 15px;
	width: 200px;
	height: 300px;
	text-align: center;
}

.comp1 {
	border: 2px solid green;
	border-radius: 15px;
	width: 200px;
	height: 300px;
	text-align: center;
}
/**
#board div:nth-child(4) {
	border: 1px solid green;
	width: 85px;
	height: 250px;
	font-size: 20px;
	color: gray;
	text-align: center;
}
*/
#buttons {
	margin: 5px 150px;
	height: 100px;
	width: auto;
	border: 1px solid orange;
	font-family: futura;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
}

#buttons div {
	display: inline-block;
	border: 2px solid #585858;
	width: 175px;
	height: 30px;
	text-align: center;
	padding: 15px 0px 10px;
}

button {
	justify-content: center;
	font-family: Copperplate;
	font-size: 15px;
	border-radius: 5px;
}

.b1 {
	background: url(https://i.imgur.com/gchNMy3.png);
	background-position: center;
	border-radius: 10px;
	box-shadow: 3px 3px 5px 1px #848484;
}

.b2 {
	background: url(https://i.imgur.com/Ecwe9gp.png);
	background-position: center;
	border-radius: 10px;
	box-shadow: 3px 3px 5px 1px #848484;
}

.b3 {
	background: url(https://i.imgur.com/gchNMy3.png);
	background-position: center;
	border-radius: 10px;
	box-shadow: 3px 3px 5px 1px #848484;
}